# Python
__pycache__/
*.py[cod]
*.env
*.log

# Virtual Environments
venv/
env/
env1/
smartinterviewer/        # Ignore full env if it's inside your project
*smartinterviewer/Lib/
smartinterviewer/Scripts/
smartinterviewer/include/

# Django
*.sqlite3
/media/
staticfiles/
*.db
*.pot
*.pyc

# Django Migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]

# dotenv
.env
.env.*

# IDEs
.vscode/
.idea/

# macOS & Windows system files
.DS_Store
Thumbs.db

# Git
.git/
